@use '../../styles/util/' as u1;

.OrderC {
    @include u1.block_display();
    width: 85%;
    margin-inline: auto;
    color: u1.$text_color;

    &__top {
        font-size: u1.rem(25);
        font-weight: 600;
    }

    &__mid {
        font-size: u1.rem(18);
        padding: u1.rem(10) 0;
        font-weight: 600;
    }

    &__last {
        font-size: u1.rem(14);
        font-weight: 600;

        & > div {
            padding: u1.rem(3) 0;
        }
    }
}