@use '../../styles/util/' as u1;

.TopBar {
    display: flex;
    align-items: center;
    padding: u1.rem(10) u1.rem(15);
    color: #051a7d;

    &__name {
        margin-left: 20px;
        font-size: u1.rem(65);
        font-weight: 600;

    }

    .TopBar__links {
        display: flex; position: relative;
        font-size: 14px;
        // display: none;

        & > div {
           margin: 0 u1.rem(30) 0 u1.rem(5);

           a {
               color: currentColor;
           }
        }
    }
}