@use '../../styles/util/' as u1;

.BaseMain {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 400px;
    margin: 30px auto;
    color: u1.$text_color;

    &__Top {
        padding: 1rem 0;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__Middle {
        font-size: 18px;
        & > div {
            padding: .3rem 0;
            cursor: pointer;
            
            &:hover {
                font-weight: 600;
            }
        }
    }

    &__Btn {
        padding: 1rem 0;
        margin: 1rem 0 2rem;
        font-size: 1.3rem;
        font-weight: 600;

        button {
            @include u1.neo_button()
        }
    }
}