@use '../../styles/util/' as u1;

.HomeP {
    margin: u1.rem(60) 0 0;
    text-align: center;
    font-size: u1.rem(55);
    color: u1.$text_color;

    button {
        @include u1.neo_button();
        margin: u1.rem(35) u1.rem(35) u1.rem(100);
    }
}